body {
  color: #333;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  text-align: center;
  line-height: 1.5;
  background-color: beige;
}

a {
  color: inherit;
  text-decoration: none;
}

header h1 {
  padding-top: 23px;
  margin-bottom: 29px;
}

header nav {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6a6a6a;
  border-bottom: 2px solid #6a6a6a;
  font-size: 18px;
  margin-bottom: 36px;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
  color: #54410c;
}

header nav li {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
}

header nav li a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

header nav li.active a {
  font-weight: bold;
}

p.visual {
  padding-bottom: 67px;
}

main {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

main section {
  border-bottom: 3px solid #000;
}

main section.LONGE ul {
  padding-bottom: 67px;
}

main section.LONGE li {
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

main section h2 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-top-width: 2px;
  border-style: solid;
  border-top-color: #868686;
  border-bottom: 2px solid #868686;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 17px;
}

main section p {
  font-size: 20px;
  text-align: left;
  line-height: 35px;
  padding-bottom: 53px;
}

main section.ibent {
  margin-top: 67px;
  margin-bottom: 50px;
}

main section.ibent li {
  margin-bottom: 50px;
}

main aside {
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 77px;
  margin-bottom: 57px;
}

main aside a:hover {
  opacity: 0.7;
}

footer {
  background-color: #322707;
  padding-top: 42px;
}

footer section {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  background-color: #5f4e1c;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 30px;
}

footer section h2 {
  font-size: 20px;
}

footer section p {
  font-size: 28px;
  font-weight: bold;
}

footer p.rogo {
  margin-bottom: 30px;
}

footer address {
  color: #fffdf8;
  font-size: 18px;
  margin-bottom: 30px;
}

footer p.THECLYDE2016 {
  background-color: #000;
  color: #fffdf8;
  font-size: 20px;
  font-family: Georgia;
  padding-top: 18px;
  padding-bottom: 18px;
}
